html {
    min-width: 300px;
    overflow-x: hidden;
    font-size: 10px;
    background-color: #CFC0BD;
}

body {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #CFC0BD;
}

a:hover {
    text-decoration: underline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#returnHome {
    position: fixed;
    background-color: #d74e09;
    padding: 0 0 10px 0;
    font-weight: 900;
}

#titleCntr {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 6rem;
    color: #fff;
    margin: 0;
    transform: translateY(200px);
    letter-spacing: 20px;
}

.highlight {
    background-color: #d74e09;
}

svg {
    display: block;
    overflow: hidden;
    
}

h2 {
    font-size: 3rem;
    color: #fff;
    border-radius: 22px 22px 0 0;
    margin-top: 0;
}

h1, h2 {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

body {
    margin: 0;
}

#recipeCntr {
    background-color: #586F6B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageCntr {
    min-height: 200px;
    max-height: 300px;
    min-width: 600px;
    max-width: 800px;
    overflow: hidden;
    background-image: url(../media/vegBolognese.jpeg);
    background-size: cover;
}

#recipeInfo {
    margin: 10px;
}

#portion, #cookingTime {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 5px 0;
    margin: 5px;
}

ul, ol {
    margin: 0;
    color: #fff;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

#ingredients, #instructions, #notes {
    display: flex;
    padding: 5% 0;
    max-width: 1450px;
}

#ingredients, #instructions {
    border-bottom: 1px solid #d74e09;
}

#notes ul {
    list-style-type: circle;
}

footer {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    padding: 10px 0;
}

#footerSpan {
    background-color: #d74e09;
    padding: 10px 0;
}